version: "3"
services:
  flask:
    image: "frontend"
    volumes:
      - /Users/svenhosp/Documents/repos/github:/app/github
    build:
      context: .
      dockerfile: Dockerfile.flask
    ports:
     - "8084:8080"
     - "8081:5000"
    networks:
      SettlingInSpace:
          ipv4_address: 172.29.0.2
  rpcgame:
    image: "settlinginspace"
    build:
      context: .
      dockerfile: Dockerfile.python
    networks:
      SettlingInSpace:
          ipv4_address: 172.29.0.3
    ports:
     - "8082:8082"
  jupyterlab:
    image: "calisto/jupyterlab"
#    build:
#      context: ./jupyter_ide
#      dockerfile: Dockerfile
    volumes:
      - /Users/svenhosp/Documents/repos/github:/home/calisto/github
    environment:
      - GITUSEREMAIL=calisto107@mail.com
      - GITUSERNAME=calisto107
    ports:
      - "8083:8888"
    networks:
      SettlingInSpace:
          ipv4_address: 172.29.0.4
networks:
    SettlingInSpace:
        ipam:
            driver: default
            config:
                - subnet: 172.29.0.0/16
