version: "3"
services:
  dash:
    image: "frontend"
    build:
      context: .
      dockerfile: Dockerfile.dash
    ports:
     - "8084:8050"
    networks:
      SettlingInSpace:
          ipv4_address: 172.29.0.2
  rpcgame:
    image: "settlinginspace"
    build:
      context: .
      dockerfile: Dockerfile.python
    volumes:
      - /Users/svenhosp/Documents/repos/github/settling_in_space/src:/app/src
    networks:
      SettlingInSpace:
          ipv4_address: 172.29.0.3
    ports:
     - "8082:8082"
     - "8088:8088"
  jupyterlab:
    image: "calisto/jupyterlab"
#    build:
#      context: ./jupyter_ide
#      dockerfile: Dockerfile
    volumes:
      - /Users/svenhosp/Documents/repos/github:/home/calisto/github
    environment:
      - GITUSEREMAIL=calisto107@mail.com
      - GITUSERNAME=calisto107
    ports:
      - "8083:8888"
    networks:
      SettlingInSpace:
          ipv4_address: 172.29.0.4
networks:
    SettlingInSpace:
        ipam:
            driver: default
            config:
                - subnet: 172.29.0.0/16
