version: "3"
services:
  #node:
  #  image: "nginx:1.17.6"
  #  networks:
  #    SettlingInSpace:
  #        ipv4_address: 172.29.0.2
  #  volumes:
  #    - ./conf/nginx.conf:/etc/nginx/nginx.conf
  #    - ./html:/usr/share/nginx/html
  #  ports:
  #    - "8081:8081"
  node:
    image: "frontend"
    build:
      context: .
      dockerfile: Dockerfile.nodejs
    expose:
     - 8080
    ports:
     - "8081:8080"
    networks:
      SettlingInSpace:
          ipv4_address: 172.29.0.2
  rpcgame:
    image: "settlinginspace"
    build:
      context: .
      dockerfile: Dockerfile.python
    networks:
      SettlingInSpace:
          ipv4_address: 172.29.0.3
    #command:
    # - "python -m settlingInSpace.game.main"
    expose:
     - 8082
    ports:
     - "8082:8082"
  jupyterlab:
    image: "calisto/jupyterlab"
    build:
      context: ./jupyter_ide
      dockerfile: Dockerfile
    volumes:
      - /Users/svenhosp/Documents/repos/github:/home/calisto/github
    environment:
      - GITUSEREMAIL=calisto107@mail.com
      - GITUSERNAME=calisto107
    ports:
      - "8083:8888"
    networks:
      SettlingInSpace:
          ipv4_address: 172.29.0.4
networks:
    SettlingInSpace:
        ipam:
            driver: default
            config:
                - subnet: 172.29.0.0/16
